# Project 05 -- Anthony Micco

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [1]:
# loading in the Lahman database

In [2]:
%sql sqlite:////anvil/projects/tdm/data/lahman/lahman.db

In [3]:
# Selecting all the tables in the Lahman database

In [4]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('teamsfranchises',),
 ('teams',),
 ('teamshalf',),
 ('people',),
 ('allstarfull',),
 ('appearances',),
 ('awardsmanagers',),
 ('awardsplayers',),
 ('awardssharemanagers',),
 ('awardsshareplayers',),
 ('batting',),
 ('battingpost',),
 ('schools',),
 ('collegeplaying',),
 ('fielding',),
 ('fieldingof',),
 ('fieldingofsplit',),
 ('fieldingpost',),
 ('halloffame',),
 ('parks',),
 ('homegames',),
 ('managers',),
 ('managershalf',),
 ('pitching',),
 ('pitchingpost',),
 ('salaries',),
 ('seriespost',)]

In [5]:
#Selecting the first 5 rows of all the columns in the people table

In [6]:
%%sql 
SELECT * FROM People LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('aardsda01', 1981, 12, 27, 'Denver', 'USA', 'CO', '', '', '', '', '', '', 'David', 'Aardsma', 'David Allan', 215, 75, 'R', 'R', '2004-04-06', 'aardsda01', '2015-08-23', 'aardd001'),
 ('aaronha01', 1934, 2, 5, 'Mobile', 'USA', 'AL', 2021, 1, 22, 'USA', 'GA', 'Atlanta', 'Hank', 'Aaron', 'Henry Louis', 180, 72, 'R', 'R', '1954-04-13', 'aaronha01', '1976-10-03', 'aaroh101'),
 ('aaronto01', 1939, 8, 5, 'Mobile', 'USA', 'AL', 1984, 8, 16, 'USA', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', 190, 75, 'R', 'R', '1962-04-10', 'aaronto01', '1971-09-26', 'aarot101'),
 ('aasedo01', 1954, 9, 8, 'Orange', 'USA', 'CA', '', '', '', '', '', '', 'Don', 'Aase', 'Donald William', 190, 75, 'R', 'R', '1977-07-26', 'aasedo01', '1990-10-03', 'aased001'),
 ('abadan01', 1972, 8, 25, 'Palm Beach', 'USA', 'FL', '', '', '', '', '', '', 'Andy', 'Abad', 'Fausto Andres', 184, 73, 'L', 'L', '2001-09-10', 'abadan01', '2006-04-13', 'abada001')]

1) There are 24 columns in the people table 
2) The nameFirst column contains the player's first name
3) For a player's deathYear, it is left blank if they are still living
4) Don Aase's playerID is aasedo01

## Question 2

In [7]:
#Selecting all the rows where a player's last name is Sanders

In [8]:
%%sql
SELECT * FROM People WHERE nameLast='Sanders'

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('sandean01', 1974, 3, 2, 'Tucson', 'USA', 'AZ', '', '', '', '', '', '', 'Anthony', 'Sanders', 'Anthony Marcus', 200, 74, 'R', 'R', '1999-04-26', 'sandean01', '2001-04-18', 'sanda001'),
 ('sandebe01', 1865, 2, 16, 'Catharpin', 'USA', 'VA', 1930, 8, 29, 'USA', 'TN', 'Memphis', 'Ben', 'Sanders', 'Alexander Bennett', 210, 72, 'R', 'R', '1888-06-06', 'sandebe01', '1892-10-14', 'sandb101'),
 ('sandeda01', 1979, 8, 29, 'Oklahoma City', 'USA', 'OK', '', '', '', '', '', '', 'David', 'Sanders', 'David Andrew', 200, 72, 'L', 'L', '2003-04-23', 'sandeda01', '2005-09-10', 'sandd002'),
 ('sandede01', 1921, 4, 8, 'Quitman', 'USA', 'TX', 2007, 8, 17, 'USA', 'OK', 'McAlester', 'Dee', 'Sanders', 'Dee Wilman', 195, 75, 'R', 'R', '1945-08-12', 'sandede01', '1945-08-13', 'sandd101'),
 ('sandede02', 1967, 8, 9, 'Fort Myers', 'USA', 'FL', '', '', '', '', '', '', 'Deion', 'Sanders', 'Deion Luwynn', 195, 73, 'L', 'L', '1989-05-31', 'sandede02', '2001-06-14', 'sandd001'),
 ('sandejo01', 1945, 11, 20, 'Grand Island', 'USA', 'NE', 2022, 2, 3, 'USA', 'GA', 'Woodstock', 'John', 'Sanders', 'John Frank', 200, 74, 'R', 'R', '1965-04-13', 'sandejo01', '1965-04-13', 'sandj101'),
 ('sandeke01', 1941, 7, 8, 'St. Louis', 'USA', 'MO', '', '', '', '', '', '', 'Ken', 'Sanders', 'Kenneth George', 168, 71, 'R', 'R', '1964-08-06', 'sandeke01', '1976-09-27', 'sandk101'),
 ('sandeph01', 1995, 6, 5, 'Augsburg', 'Germany', 'Bavaria', '', '', '', '', '', '', 'Phoenix', 'Sanders', 'Phoenix Clark', 205, 70, 'R', 'R', '2022-04-14', 'sandeph01', '2022-07-10', 'sandp003'),
 ('sandera01', 1916, 12, 4, 'Bonne Terre', 'USA', 'MO', 1983, 10, 28, 'USA', 'MO', 'Washington', 'Ray', 'Sanders', 'Raymond Floyd', 185, 74, 'L', 'R', '1942-04-14', 'sandera01', '1949-09-21', 'sandr102'),
 ('sandere01', 1949, 9, 9, 'Birmingham', 'USA', 'AL', 2002, 1, 27, 'USA', 'CA', 'Los Angeles', 'Reggie', 'Sanders', 'Reginald Jerome', 205, 74, 'R', 'R', '1974-09-01', 'sandere01', '1974-10-02', 'sandr103'),
 ('sandere02', 1967, 12, 1, 'Florence', 'USA', 'SC', '', '', '', '', '', '', 'Reggie', 'Sanders', 'Reginald Laverne', 180, 72, 'R', 'R', '1991-08-22', 'sandere02', '2007-07-29', 'sandr002'),
 ('sandero01', 1892, 8, 1, 'Stafford', 'USA', 'KS', 1950, 1, 17, 'USA', 'MO', 'Kansas City', 'Roy', 'Sanders', 'Roy Garvin', 195, 72, 'R', 'R', '1917-04-16', 'sandero01', '1918-08-27', 'sandr104'),
 ('sandero02', 1894, 6, 10, 'Pittsburg', 'USA', 'KS', 1963, 7, 8, 'USA', 'KY', 'Louisville', 'Roy', 'Sanders', 'Roy Lee', 185, 72, 'R', 'R', '1918-08-06', 'sandero02', '1920-05-31', 'sandr101'),
 ('sandesc02', 1969, 3, 25, 'Hannibal', 'USA', 'MO', '', '', '', '', '', '', 'Scott', 'Sanders', 'Scott Gerald', 210, 76, 'R', 'R', '1993-08-06', 'sandesc02', '1999-10-03', 'sands002'),
 ('sandewa01', 1877, 8, 2, 'Maynardville', 'USA', 'TN', 1962, 8, 3, 'USA', 'TN', 'Chattanooga', 'War', 'Sanders', 'Warren Williams', 160, 70, 'R', 'L', '1903-04-18', 'sandewa01', '1904-07-04', 'sandw101')]

In [9]:
##Selecting all the rows where a player's last name is Sanders and their birth year is before 1900

In [10]:
%%sql
SELECT * FROM People WHERE nameLast='Sanders' AND birthYear<1900

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('sandebe01', 1865, 2, 16, 'Catharpin', 'USA', 'VA', 1930, 8, 29, 'USA', 'TN', 'Memphis', 'Ben', 'Sanders', 'Alexander Bennett', 210, 72, 'R', 'R', '1888-06-06', 'sandebe01', '1892-10-14', 'sandb101'),
 ('sandero01', 1892, 8, 1, 'Stafford', 'USA', 'KS', 1950, 1, 17, 'USA', 'MO', 'Kansas City', 'Roy', 'Sanders', 'Roy Garvin', 195, 72, 'R', 'R', '1917-04-16', 'sandero01', '1918-08-27', 'sandr104'),
 ('sandero02', 1894, 6, 10, 'Pittsburg', 'USA', 'KS', 1963, 7, 8, 'USA', 'KY', 'Louisville', 'Roy', 'Sanders', 'Roy Lee', 185, 72, 'R', 'R', '1918-08-06', 'sandero02', '1920-05-31', 'sandr101'),
 ('sandewa01', 1877, 8, 2, 'Maynardville', 'USA', 'TN', 1962, 8, 3, 'USA', 'TN', 'Chattanooga', 'War', 'Sanders', 'Warren Williams', 160, 70, 'R', 'L', '1903-04-18', 'sandewa01', '1904-07-04', 'sandw101')]

In [11]:
##Selecting all the rows where a player's last name is Sanders and their birth year is before 1900 or after 1975

In [12]:
%%sql
SELECT * FROM People WHERE nameLast='Sanders' AND (birthYear<1900 OR birthYear>1975)

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('sandebe01', 1865, 2, 16, 'Catharpin', 'USA', 'VA', 1930, 8, 29, 'USA', 'TN', 'Memphis', 'Ben', 'Sanders', 'Alexander Bennett', 210, 72, 'R', 'R', '1888-06-06', 'sandebe01', '1892-10-14', 'sandb101'),
 ('sandeda01', 1979, 8, 29, 'Oklahoma City', 'USA', 'OK', '', '', '', '', '', '', 'David', 'Sanders', 'David Andrew', 200, 72, 'L', 'L', '2003-04-23', 'sandeda01', '2005-09-10', 'sandd002'),
 ('sandeph01', 1995, 6, 5, 'Augsburg', 'Germany', 'Bavaria', '', '', '', '', '', '', 'Phoenix', 'Sanders', 'Phoenix Clark', 205, 70, 'R', 'R', '2022-04-14', 'sandeph01', '2022-07-10', 'sandp003'),
 ('sandero01', 1892, 8, 1, 'Stafford', 'USA', 'KS', 1950, 1, 17, 'USA', 'MO', 'Kansas City', 'Roy', 'Sanders', 'Roy Garvin', 195, 72, 'R', 'R', '1917-04-16', 'sandero01', '1918-08-27', 'sandr104'),
 ('sandero02', 1894, 6, 10, 'Pittsburg', 'USA', 'KS', 1963, 7, 8, 'USA', 'KY', 'Louisville', 'Roy', 'Sanders', 'Roy Lee', 185, 72, 'R', 'R', '1918-08-06', 'sandero02', '1920-05-31', 'sandr101'),
 ('sandewa01', 1877, 8, 2, 'Maynardville', 'USA', 'TN', 1962, 8, 3, 'USA', 'TN', 'Chattanooga', 'War', 'Sanders', 'Warren Williams', 160, 70, 'R', 'L', '1903-04-18', 'sandewa01', '1904-07-04', 'sandw101')]

## Question 3

In [13]:
# Retrieving all players born before 1900 and ordering them by their last name and displaying the first 10

In [14]:
%%sql
SELECT * FROM People WHERE birthYear<1900 ORDER BY nameLast DESC LIMIT 10

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('zwilldu01', 1888, 11, 2, 'St. Louis', 'USA', 'MO', 1978, 3, 27, 'USA', 'CA', 'La Crescenta', 'Dutch', 'Zwilling', 'Edward Harrison', 160, 66, 'L', 'L', '1910-08-14', 'zwilldu01', '1916-07-12', 'zwild101'),
 ('zmiched01', 1884, 10, 1, 'Cleveland', 'USA', 'OH', 1950, 8, 20, 'USA', 'OH', 'Cleveland', 'Ed', 'Zmich', 'Edward Albert', 180, 72, 'L', 'L', '1910-07-23', 'zmiched01', '1911-06-01', 'zmice101'),
 ('zitzmbi01', 1895, 11, 19, 'Long Island City', 'USA', 'NY', 1985, 5, 29, 'USA', 'NJ', 'Passaic', 'Billy', 'Zitzmann', 'William Arthur', 175, 70, 'R', 'R', '1919-04-27', 'zitzmbi01', '1929-09-25', 'zitzb101'),
 ('zinnfr01', 1865, 12, 21, 'Phoenixville', 'USA', 'PA', 1936, 5, 12, 'USA', 'PA', 'Philadelphia', 'Frank', 'Zinn', 'Frank Patrick', 150, 68, '', '', '1888-04-18', 'zinnfr01', '1888-05-03', 'zinnf101'),
 ('zinngu01', 1887, 2, 13, 'Holbrook', 'USA', 'WV', 1949, 10, 6, 'USA', 'WV', 'Nutter Fort', 'Guy', 'Zinn', 'Guy', 170, 70, 'L', 'R', '1911-09-11', 'zinngu01', '1915-09-16', 'zinng101'),
 ('zinnji01', 1895, 1, 31, 'Benton', 'USA', 'AR', 1991, 2, 26, 'USA', 'TN', 'Memphis', 'Jimmy', 'Zinn', 'James Edward', 195, 72, 'L', 'R', '1919-09-04', 'zinnji01', '1929-08-25', 'zinnj101'),
 ('zinkwa01', 1898, 11, 21, 'Pittsfield', 'USA', 'MA', 1964, 6, 12, 'USA', 'MA', 'Quincy', 'Walter', 'Zink', 'Walter Noble', 165, 72, 'R', 'R', '1921-07-06', 'zinkwa01', '1921-07-19', 'zinkw101'),
 ('zimmebi01', 1887, 1, 20, 'Kengen', 'Germany', '', 1952, 10, 4, 'USA', 'NJ', 'Newark', 'Bill', 'Zimmerman', 'William Frederick', 172, 68, 'R', 'R', '1915-04-14', 'zimmebi01', '1915-07-09', 'zimmb101'),
 ('zimmeed01', 1883, 1, 4, 'Oceanic', 'USA', 'NJ', 1945, 5, 6, 'USA', 'PA', 'Allentown', 'Eddie', 'Zimmerman', 'Edward Desmond', 160, 69, 'R', 'R', '1906-09-29', 'zimmeed01', '1911-09-04', 'zimme101'),
 ('zimmehe01', 1887, 2, 9, 'New York', 'USA', 'NY', 1969, 3, 14, 'USA', 'NY', 'New York', 'Heinie', 'Zimmerman', 'Henry', 176, 71, 'R', 'R', '1907-09-08', 'zimmehe01', '1919-09-10', 'zimmh101')]

In [15]:
#Writing a query to return all the players born after 1970 and over 70 inches tall

In [16]:
%%sql 
SELECT * FROM People WHERE birthYear>1970 AND height>70 ORDER BY nameLast DESC LIMIT 10

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('vanderi01', 1985, 5, 22, 'Eindhoven', 'Netherlands', 'North Brabant', '', '', '', '', '', '', 'Rick', 'van den Hurk', 'Henricus Nicolas', 215, 77, 'R', 'R', '2007-04-10', 'vanderi01', '2012-10-03', 'vandr001'),
 ('dendema01', 1987, 8, 10, 'Fort Lauderdale', 'USA', 'FL', '', '', '', '', '', '', 'Matt', 'den Dekker', 'Matthew Gerrit', 210, 74, 'L', 'L', '2013-08-29', 'dendema01', '2018-07-26', 'dendm001'),
 ('degroja01', 1988, 6, 19, 'DeLand', 'USA', 'FL', '', '', '', '', '', '', 'Jacob', 'deGrom', 'Jacob Anthony', 185, 76, 'L', 'R', '2014-05-15', 'degroja01', '2022-09-30', 'degrj001'),
 ('deloslu02', 1977, 11, 1, 'Santo Domingo', 'D.R.', 'Distrito Nacional', '', '', '', '', '', '', 'Luis', 'de los Santos', 'Luis', 216, 74, 'R', 'R', '2002-07-20', 'deloslu02', '2002-07-31', 'delol002'),
 ('delamro01', 1971, 11, 11, 'Granada Hills', 'USA', 'CA', '', '', '', '', '', '', 'Roland', 'de la Maza', 'Roland Robert', 195, 74, 'R', 'R', '1997-09-26', 'delamro01', '1997-09-26', 'delar001'),
 ('degeubr01', 1997, 11, 4, 'Pleasanton', 'USA', 'CA', '', '', '', '', '', '', 'Brett', 'de Geus', 'Brett', 190, 74, 'R', 'R', '2021-04-01', 'degeubr01', '2021-09-28', 'degeb001'),
 ('decasyu01', 1979, 9, 26, 'Brevengat', 'Curacao', '', '', '', '', '', '', '', 'Yurendell', 'de Caster', 'Yurendell Eithel', 215, 72, 'R', 'R', '2006-05-21', 'decasyu01', '2006-06-07', 'decay001'),
 ('darnach01', 1987, 1, 21, 'Torrance', 'USA', 'CA', '', '', '', '', '', '', 'Chase', "d'Arnaud", 'Chase Jonathan', 197, 73, 'R', 'R', '2011-06-24', 'darnach01', '2018-09-30', 'darnc001'),
 ('darnatr01', 1989, 2, 10, 'Long Beach', 'USA', 'CA', '', '', '', '', '', '', 'Travis', "d'Arnaud", 'Travis E.', 210, 74, 'R', 'R', '2013-08-17', 'darnatr01', '2022-10-04', 'darnt001'),
 ('zychto01', 1990, 8, 7, 'Monee', 'USA', 'IL', '', '', '', '', '', '', 'Tony', 'Zych', 'Anthony Aaron', 190, 75, 'R', 'R', '2015-09-04', 'zychto01', '2017-08-19', 'zycht001')]

In [17]:
#redoing the same query but expanding the results to 20 players

In [18]:
%%sql 
SELECT * FROM People WHERE birthYear>1970 AND height>70 ORDER BY nameLast DESC LIMIT 20

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.
(sqlite3.OperationalError) Could not decode to UTF-8 column 'nameLast' with text 'Zu�iga'
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
#fixing the query by using the non-ASCII character pattern

In [23]:
%%sql
SELECT * FROM People WHERE nameLast NOT LIKE '%�%' AND birthYear>1970 AND height>70 ORDER BY nameLast DESC LIMIT 20

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('vanderi01', 1985, 5, 22, 'Eindhoven', 'Netherlands', 'North Brabant', '', '', '', '', '', '', 'Rick', 'van den Hurk', 'Henricus Nicolas', 215, 77, 'R', 'R', '2007-04-10', 'vanderi01', '2012-10-03', 'vandr001'),
 ('dendema01', 1987, 8, 10, 'Fort Lauderdale', 'USA', 'FL', '', '', '', '', '', '', 'Matt', 'den Dekker', 'Matthew Gerrit', 210, 74, 'L', 'L', '2013-08-29', 'dendema01', '2018-07-26', 'dendm001'),
 ('degroja01', 1988, 6, 19, 'DeLand', 'USA', 'FL', '', '', '', '', '', '', 'Jacob', 'deGrom', 'Jacob Anthony', 185, 76, 'L', 'R', '2014-05-15', 'degroja01', '2022-09-30', 'degrj001'),
 ('deloslu02', 1977, 11, 1, 'Santo Domingo', 'D.R.', 'Distrito Nacional', '', '', '', '', '', '', 'Luis', 'de los Santos', 'Luis', 216, 74, 'R', 'R', '2002-07-20', 'deloslu02', '2002-07-31', 'delol002'),
 ('delamro01', 1971, 11, 11, 'Granada Hills', 'USA', 'CA', '', '', '', '', '', '', 'Roland', 'de la Maza', 'Roland Robert', 195, 74, 'R', 'R', '1997-09-26', 'delamro01', '1997-09-26', 'delar001'),
 ('degeubr01', 1997, 11, 4, 'Pleasanton', 'USA', 'CA', '', '', '', '', '', '', 'Brett', 'de Geus', 'Brett', 190, 74, 'R', 'R', '2021-04-01', 'degeubr01', '2021-09-28', 'degeb001'),
 ('decasyu01', 1979, 9, 26, 'Brevengat', 'Curacao', '', '', '', '', '', '', '', 'Yurendell', 'de Caster', 'Yurendell Eithel', 215, 72, 'R', 'R', '2006-05-21', 'decasyu01', '2006-06-07', 'decay001'),
 ('darnach01', 1987, 1, 21, 'Torrance', 'USA', 'CA', '', '', '', '', '', '', 'Chase', "d'Arnaud", 'Chase Jonathan', 197, 73, 'R', 'R', '2011-06-24', 'darnach01', '2018-09-30', 'darnc001'),
 ('darnatr01', 1989, 2, 10, 'Long Beach', 'USA', 'CA', '', '', '', '', '', '', 'Travis', "d'Arnaud", 'Travis E.', 210, 74, 'R', 'R', '2013-08-17', 'darnatr01', '2022-10-04', 'darnt001'),
 ('zychto01', 1990, 8, 7, 'Monee', 'USA', 'IL', '', '', '', '', '', '', 'Tony', 'Zych', 'Anthony Aaron', 190, 75, 'R', 'R', '2015-09-04', 'zychto01', '2017-08-19', 'zycht001'),
 ('zuninmi01', 1991, 3, 25, 'Cape Coral', 'USA', 'FL', '', '', '', '', '', '', 'Mike', 'Zunino', 'Michael Accorsi', 235, 74, 'R', 'R', '2013-06-12', 'zuninmi01', '2022-06-09', 'zunim001'),
 ('zumayjo01', 1984, 11, 9, 'Chula Vista', 'USA', 'CA', '', '', '', '', '', '', 'Joel', 'Zumaya', 'Joel Martin', 215, 75, 'R', 'R', '2006-04-03', 'zumayjo01', '2010-06-28', 'zumaj001'),
 ('zuletju01', 1975, 3, 28, 'Panama', 'Panama', 'Panama', '', '', '', '', '', '', 'Julio', 'Zuleta', 'Julio Ernesto', 230, 78, 'R', 'R', '2000-04-06', 'zuletju01', '2001-06-25', 'zulej001'),
 ('zuberty01', 1995, 6, 16, 'White Hall', 'USA', 'AR', '', '', '', '', '', '', 'Tyler', 'Zuber', 'John Tyler', 175, 71, 'R', 'R', '2020-07-24', 'zuberty01', '2021-09-30', 'zubet001'),
 ('zoccope01', 1977, 2, 6, 'Bronx', 'USA', 'NY', '', '', '', '', '', '', 'Peter', 'Zoccolillo', 'Peter Jude', 200, 74, 'L', 'R', '2003-09-05', 'zoccope01', '2003-09-28', 'zoccp001'),
 ('zobribe01', 1981, 5, 26, 'Eureka', 'USA', 'IL', '', '', '', '', '', '', 'Ben', 'Zobrist', 'Benjamin Thomas', 210, 75, 'B', 'R', '2006-08-01', 'zobribe01', '2019-09-29', 'zobrb001'),
 ('zitoba01', 1978, 5, 13, 'Las Vegas', 'USA', 'NV', '', '', '', '', '', '', 'Barry', 'Zito', 'Barry William', 205, 74, 'L', 'L', '2000-07-22', 'zitoba01', '2015-09-30', 'zitob001'),
 ('zinkch01', 1979, 8, 26, 'Carmichael', 'USA', 'CA', '', '', '', '', '', '', 'Charlie', 'Zink', 'Charles Tadao', 190, 73, 'R', 'R', '2008-08-12', 'zinkch01', '2008-08-12', 'zinkc001'),
 ('zimmebr02', 1995, 2, 9, 'Baltimore', 'USA', 'MD', '', '', '', '', '', '', 'Bruce', 'Zimmermann', 'Bruce Anthony', 215, 73, 'L', 'L', '2020-09-17', 'zimmebr02', '2022-09-05', 'zimmb002'),
 ('zimmejo02', 1986, 5, 23, 'Auburndale', 'USA', 'WI', '', '', '', '', '', '', 'Jordan', 'Zimmermann', 'Jordan Michael', 225, 74, 'R', 'R', '2009-04-20', 'zimmejo02', '2021-05-07', 'zimmj003')]

## Question 4

In [24]:
# finding the average height of players with the last name 'Sanders'

In [26]:
%%sql
SELECT *, AVG(height) AS avg_height FROM People WHERE nameLast = 'Sanders' GROUP BY nameLast;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('sandean01', 1974, 3, 2, 'Tucson', 'USA', 'AZ', '', '', '', '', '', '', 'Anthony', 'Sanders', 'Anthony Marcus', 200, 74, 'R', 'R', '1999-04-26', 'sandean01', '2001-04-18', 'sanda001', 72.73333333333333)]

In [27]:
#finding the average weight of players grouped by their birth year and sorting the results by average weight

In [28]:
%%sql
SELECT *, AVG(weight) AS avg_weight FROM People GROUP BY birthYear ORDER BY avg_weight DESC LIMIT 10

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('adamsau01', 1986, 8, 19, 'Montgomery', 'USA', 'AL', '', '', '', '', '', '', 'Austin', 'Adams', 'Austin David', 205, 71, 'R', 'R', '2014-07-12', 'adamsau01', '2019-07-06', 'adama001', 212.62264150943398),
 ('abreuto01', 1984, 11, 13, 'Puerto Plata', 'D.R.', 'Puerto Plata', '', '', '', '', '', '', 'Tony', 'Abreu', 'Etanislao Toni', 200, 70, 'B', 'R', '2007-05-22', 'abreuto01', '2014-07-28', 'abret001', 212.3913043478261),
 ('achteaj01', 1988, 8, 27, 'Toledo', 'USA', 'OH', '', '', '', '', '', '', 'A. J.', 'Achter', 'Adam Joseph', 215, 77, 'R', 'R', '2014-09-03', 'achteaj01', '2016-10-01', 'achta001', 211.9375),
 ('aguilje01', 1990, 6, 30, 'Maracay', 'Venezuela', 'Aragua', '', '', '', '', '', '', 'Jesus', 'Aguilar', 'Jesus Alexander', 277, 75, 'R', 'R', '2014-05-15', 'aguilje01', '2022-10-05', 'aguij001', 211.6100386100386),
 ('abreujo02', 1987, 1, 29, 'Cienfuegos', 'Cuba', 'Cienfuegos', '', '', '', '', '', '', 'Jose', 'Abreu', 'Jose Dariel', 235, 75, 'R', 'R', '2014-03-31', 'abreujo02', '2022-10-04', 'abrej003', 211.53667953667954),
 ('alcanvi01', 1993, 4, 3, 'Santo Domingo', 'D.R.', 'Distrito Nacional', '', '', '', '', '', '', 'Victor', 'Alcantara', 'Victor Alfonso', 190, 74, 'R', 'R', '2017-09-05', 'alcanvi01', '2019-09-29', 'alcav001', 211.15267175572518),
 ('adamsla01', 1989, 11, 13, 'Talihina', 'USA', 'OK', '', '', '', '', '', '', 'Lane', 'Adams', 'Lane Weston', 190, 76, 'R', 'R', '2014-09-01', 'adamsla01', '2018-09-30', 'adaml001', 211.06147540983608),
 ('alberha01', 1992, 10, 17, 'San Francisco de Macoris', 'D.R.', 'Duarte', '', '', '', '', '', '', 'Hanser', 'Alberto', 'Hanser Joel', 215, 71, 'R', 'R', '2015-05-29', 'alberha01', '2022-10-05', 'albeh001', 210.99595141700405),
 ('abadfe01', 1985, 12, 17, 'La Romana', 'D.R.', 'La Romana', '', '', '', '', '', '', 'Fernando', 'Abad', 'Fernando Antonio', 235, 74, 'L', 'L', '2010-07-28', 'abadfe01', '2021-10-01', 'abadf001', 210.96244131455398),
 ('aceveal01', 1982, 12, 8, 'San Luis Rio Colorado', 'Mexico', 'Sonora', '', '', '', '', '', '', 'Alfredo', 'Aceves', 'Alfredo', 205, 74, 'R', 'R', '2008-08-31', 'aceveal01', '2014-06-02', 'aceva001', 210.88785046728972)]

Markdown notes and sentences and analysis written here.

## Question 5

In [29]:
# Counting the total number of players in the People table

In [30]:
%%sql
SELECT COUNT(*) FROM People;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(21010,)]

In [31]:
# Counting the number of players with the lastName of Sanders

In [32]:
%%sql
SELECT COUNT(*) FROM People WHERE nameLast = 'Sanders';

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(15,)]

In [33]:
# Counting the number of players grouped by each birth year

In [34]:
%%sql
SELECT birthYear, COUNT(*) FROM People GROUP BY birthYear LIMIT 10;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(1814, 1),
 (1820, 1),
 (1824, 1),
 (1832, 2),
 (1835, 1),
 (1836, 1),
 (1837, 1),
 (1838, 4),
 (1839, 1),
 (1840, 7)]

In [35]:
# writing a query to count the number of tables in the Lahman database

In [39]:
%%sql
SELECT COUNT(*) FROM sqlite_master

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(27,)]

In [40]:
# writing a query to count the number of players born before 1900 and over 74 inches tall

In [42]:
%%sql
SELECT COUNT(*) FROM People WHERE birthYear<1900 AND height>74

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(767,)]

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.